.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.images-list {
    display: flex;
    justify-content: center;
}

.title {
    background-color: #0e4674;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

mat-card-header {
    color: #0e4674;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    padding: 0%;
}

span {
    font-size: 18px;
}