<div class="new-logo mt-4 p-4">
    <button mat-raised-button routerLink="/admin/upload-logo">
        <mat-icon>
            add
        </mat-icon>
    Nuevo Logo</button>
</div>

<div class="select-master ">
    <mat-card class="p-4 text-fluid" *ngFor="let master of masters; let i = index">
        <mat-card-header>
            <h1>{{master}}</h1>
        </mat-card-header>
        <mat-card-content>
            <button mat-raised-button (click)="selectedCard(master) ">Ver imagenes</button>
        </mat-card-content>
    </mat-card>
</div>