<div class="col-lg-4 mx-auto">
    <div class="card mt-4">
        <div class="card-header">
            <h1>Subir Nuevo Logo</h1>
        </div>
        <div class="card-body">
            <form (submit)="uploadPhoto(title,description)">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" #title required>
                </div>
                <div class="form-group">
                    <textarea rows="2" placeholder="Descripción" class="form-control" required #description></textarea>
                </div>
                <input type="file" class="d-none " (change)="onPhotoSelected($event)" #photoInput>
                <img [src]=" photoSelected || '../../../../assets/images/image2.png'" class="img-fluid" alt="" (click)="photoInput.click()">

                <button class="btn btn-primary w-100 mt-4">Upload</button>
            </form>
        </div>
    </div>
</div>